.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App-header {
  position: sticky;
  top: 0;
  padding: 8px 10px;
  background: #115959;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: white;
}

.dashboard {
  background: honeydew;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}